@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
a {
  text-decoration: none;
}

body {
  background: url("./assets/images/Jerusalem_900x600.jpg") no-repeat center
    center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #f4f4f4;
  margin: 0;
}

li {
  list-style: none;
}

.navbar {
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  width: 2000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.229);
  backdrop-filter: blur(15px);
}

.nav-logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  text-decoration: none;
}

.navbar li {
  list-style: none;
  color: black;
}

.navbar a {
  color: black;
  font-size: larger;
}

.navbar a:hover {
  list-style: none;
  color: rgb(255, 255, 255);
}

.mobile-menu {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

/* Form Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.229);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  text-align: center;
  max-width: 600px;
}

/* Input Fields */
input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
button {
  width: 85%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

/* Toggle Form Text */
#toggle-form {
  margin-top: 15px;
  font-size: 14px;
}

#toggle-form span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

#toggle-form span:hover {
  text-decoration: underline;
}
